.content {
  display: flex;
  justify-content: center;
}
.line {
  border: "1px solid black";
  margin: "20px 0";
}
.lineSmall {
  border: "1px solid black";
  margin: "20px 0";
  width: 70%;
  margin-left: 0;
}
.lineSmallRight {
  border: "1px solid black";
  margin: "20px 0";
  width: 70%;
  margin-right: 0;
}
